.golden-table.table thead th {
    vertical-align: middle;
    white-space: nowrap;
}

.golden-table.table tbody tr td {
    font-size: 14px;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.golden-table.table tbody tr td.td-break {
    /*overflow: inherit;*/
    /*text-overflow: inherit;*/
    white-space: inherit;
    word-wrap: break-word;
    word-break: break-all;
}

.golden-captcha {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
